*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

html {
    font-size: 62.5%; /* Reset para REMS -> 62.5% = 10px de 16px */
}


/** Globales **/

img {
    max-width: 100%; /** Hace que las imagenes sean responsivas, las adapta al contenedor **/
}
.contenedor {
	max-width: 120rem; /* = 1200px */ /*toma todo el espacio disponible siempre y no se pase de 1200px*/
	margin: 0 auto; /* para que este centrado el contenido en lo que es de pagina */
}


/** Sistema de tamaños **/
/** los <p> tiene un default de font-weight de 400 y los <h1> de 700 **/

h1 {  
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {    
	font-size: 2.6rem;
}

body{
    background-image: url(../img/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

/* Header */

.site-header {
	/* background-color: #ffe600; */
	margin: 0;
}

.site-header.inicio { /* este solo aplica cuando el contenedor tenga las 2 clases juntas */
	background-image: url(../img/header2.jpg); /* para agregar la imagen de fondo */
	background-position: center center; /* Para mostrar la imagen desde el centro */
	background-size: cover; /* Para que tome el alto y ancho disponible, pero guardando las proporciones*/
	height: 100vh; /* Para agregar la toda la altura de pantalla */
	min-height: 5rem; /* Para agregar la altura min */
}

.contenido-header {
    height: 100%; /* toma toda la altura del header */
    display: flex; /* habilita las direcciones del elemento */
    flex-direction: column; /* Como puse aquí la direccion de flex vertical */
    justify-content: space-between; /* esto lo voy a mover en sentido vertical, align seria para moverlo horizontal */
	padding: 3rem 0;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem; /* Padding es espacio hacia adentro del elemento, marging es espacio con otro elemento */
    max-width: 35rem; /* Para cortar el texto y que continue en la sig linea */
    line-height: 1.7; /* interlineado */
}

.barra {
	display: flex; /* Para empezar a utilizarlo como flex */
	justify-content: space-between; /*Para alinearlo el logo y el nav horizontalmente*/
	padding-top: 3rem; /* Para agregar una separacion y empujar hacia abajo el logo*/
    align-items: center; /** Para alinear verticalmente los elementos **/
	position: 0 5px 5px 9px;
	margin-top: -8rem;
	margin-bottom: -2rem;
}

.barra img {
	height: 27vh;
}


/** Navegacion **/

.navegacion a { /* selecciona a todos los "a" de la clase navegacion */
	color: white; /* el rgba usa transparencia y el hsla tambien */
	text-decoration: none; /* le quita la linea abajo al texto */
	font-size: 2rem;
	margin-right: 2rem; /* separando cada uno de los elementos */
}

.navegacion a:hover {
	color: rgb(0, 204, 255); 
}

.navegacion a:last-of-type { /*es un peudo selector que le quita el margen al ultimo elemento */ 
	margin-right: 0;
}


.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: 80px auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
    margin-top: 100px;

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #46A2FD;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}