html {
    font-size: 62.5%; /* Reset para REMS -> 62.5% = 10px de 16px */
}


.contenedor {
	max-width: 120rem; /* = 1200px */ /*toma todo el espacio disponible siempre y no se pase de 1200px*/
	margin: 0 auto; /* para que este centrado el contenido en lo que es de pagina */
	padding-bottom:-2rem;
}


/** Sistema de tamaños **/
/** los <p> tiene un default de font-weight de 400 y los <h1> de 700 **/



body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1 {  
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {    
	font-size: 2.6rem;
}

.store {
    padding-top: 20px;
}

.item-button.btn.btn-primary.addToCart {
    padding: 10px;
}

.addToCart {
    font-size: 13px;
}

.btn.btn-success.ml-auto.comprarButton {
    padding: 10px;

}

.comprarButton {
    font-size: 13px;
}

.shoppingCartTotal {
    font-size: 25px;
}

.mb-0 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}




.item {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
}

.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-image {
  height: 300px;
  width: 100%;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}


/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}

/** Navegacion **/

.navegacion a { /* selecciona a todos los "a" de la clase navegacion */
	color: white; /* el rgba usa transparencia y el hsla tambien */
	text-decoration: none; /* le quita la linea abajo al texto */
	font-size: 2rem;
	margin-right: 2rem; /* separando cada uno de los elementos */
}

.navegacion a:hover {
	color: rgb(0, 204, 255); 
}

.navegacion a:last-of-type { /*es un peudo selector que le quita el margen al ultimo elemento */ 
	margin-right: 0;
}

/* Header */

.site-header {
	background-color: #333333;
	margin: 0;
}

.site-header.inicio { /* este solo aplica cuando el contenedor tenga las 2 clases juntas */
	background-image: url(../img/header2.jpg); /* para agregar la imagen de fondo */
	background-position: center center; /* Para mostrar la imagen desde el centro */
	background-size: cover; /* Para que tome el alto y ancho disponible, pero guardando las proporciones*/
	height: 100vh; /* Para agregar la toda la altura de pantalla */
	min-height: 5rem; /* Para agregar la altura min */

}

.contenido-header {
    height: 100%; /* toma toda la altura del header */
    display: flex; /* habilita las direcciones del elemento */
    flex-direction: column; /* Como puse aquí la direccion de flex vertical */
    justify-content: space-between; /* esto lo voy a mover en sentido vertical, align seria para moverlo horizontal */
	  padding: 2.5rem 0;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem; /* Padding es espacio hacia adentro del elemento, marging es espacio con otro elemento */
    max-width: 35rem; /* Para cortar el texto y que continue en la sig linea */
    line-height: 1.7; /* interlineado */
}

.barra {
	display: flex; /* Para empezar a utilizarlo como flex */
	justify-content: space-between; /*Para alinearlo el logo y el nav horizontalmente*/
	padding-top: 3rem; /* Para agregar una separacion y empujar hacia abajo el logo*/
    align-items: center; /** Para alinear verticalmente los elementos **/
	position: 0 5px 5px 9px;
	margin-top: -8rem;
	margin-bottom: -5rem;
}

.barra img {
	height: 27vh;
}

/*Footer*/

.site-footer {
	background-color: #333333;
	margin: 0;
}

.contenedor-footer {
	padding: 3rem 0;
	display: flex;
	justify-content: space-between;
}

.copyright {
	margin: 0;
	color: white;
}
